.portable-github-form {
    position: fixed;
    bottom: -33px;
    right: 0;
    z-index: 9999;
    width: 320px;
    height:auto;
    max-width: 80%;
    padding: 1.5rem;
    margin: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
}

/***** Labels *****/
.portable-github-form input[type="radio"] {
    display: none;
}

.portable-github-form label {
    cursor: pointer;
}

.portable-github-form label.open,
.portable-github-form label.close {
    text-align: center;
    position: absolute;
}

.portable-github-form label.open {
    font-size: 11px;
    color: #222;
    background: #fff;
    width: 100px;
    bottom: -50px;
    left: 0;
    right: 0;
    top: auto;
    margin: 0 auto;
    padding: 10px 0;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 600;
    box-shadow: 2px 4px 56px -6px rgba(0, 0, 0, 0.27);

}

.portable-github-form input#close-item:checked~label.open {
    -webkit-transition: bottom 0.3s ease 0.4s, background 0.1s ease, color 0.1s ease;
    -moz-transition: bottom 0.3s ease 0.4s, background 0.1s ease, color 0.1s ease;
    -ms-transition: bottom 0.3s ease 0.4s, background 0.1s ease, color 0.1s ease;
    -o-transition: bottom 0.3s ease 0.4s, background 0.1s ease, color 0.1s ease;
    transition: bottom 0.3s ease 0.4s, background 0.1s ease, color 0.1s ease;
    bottom: 0;
}

.portable-github-form label.open:hover,
.portable-github-form label.open:focus {
    background: #222;
    color: #fff;
}

.portable-github-form label.close {
    right: 0px;
    left: auto;
    top: 0;
    bottom: auto;
    font-size: 20px;
    background: #333;
    color: #fff;
    width: 22px;
}

.portable-github-form label.close:hover,
.portable-github-form label.close:focus {
    background: #757786;
}
.portable-github-form .wrap {
    padding:1rem;
}
.portable-github-form section {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: #fff;
    box-shadow: 2px 4px 56px -6px rgba(0, 0, 0, 0.27);
    -webkit-backface-visibility: hidden;
    /* Webkit transition hack */
    /* Section animation upon opening */
    transition: all 0.4s cubic-bezier(0.2, 0.6, 0.3, 1);
}
.portable-github-form span.title{
    font-size: 24px;
    padding: 30px;
    color: #fff;
    background: #333;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.portable-github-form p.info {
    font-size: 13px;
    color: #999;
    line-height: 18px;
}

.portable-github-form section,
.portable-github-form input#close-item:checked~section {
    /* Section position when closed */
    transform: translateY(100%);
}

.portable-github-form input#open-item:checked~section {
    /* Section position when opened */
    transform: translateY(0);
}

.portable-github-form fieldset {
    border: 1px solid #DDD;
    padding: 2rem;
}

.portable-github-form legend {
    background: white;
    padding-right: 1rem;

    display: block;
    margin-left: 0;
}

.portable-github-form div {
    margin: 0 auto 1rem;
}

.portable-github-form label {
    font-weight: bold;
}

.portable-github-form label,
.portable-github-form input,
.portable-github-form textarea {
    display: block;
    width: 100%;
    font-size: .8rem;
    padding: 5px;
}

.portable-github-form textarea {
    min-height: 6rem;
}

.portable-github-form input.github-issues-form-send {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: auto;
    margin: auto;
}